body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}   
main {
    max-width: 2000px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

/* Header Section */
.title1 {
    text-align: center;
    font-size: 35px;
    color: #333;
    background-image: linear-gradient( rgba(250, 196, 196, 0.5), rgba(200, 122, 199, 0.5), rgba(250, 196, 196, 0.5));
    background-size: cover;
    background-position: center;
    padding: 40px 20px 80px 20px;

}  
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    border-bottom: 1px solid #ddd;
    background-color: #fabad8;
    position:sticky;
    top:0px;
    z-index: 10;
}   
.Name {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding-bottom: 30px;
    margin-right: 55px;
}
nav a {
    text-decoration: underline;
    color: #c475ac;
    font-size: 20px;
    padding: 8px 40px;
}

.title1 h1 {
    font-size: 120px;
    margin-bottom: 30px;
    color: #673761;
}
.line {
    border-bottom: 2px solid #c475ac;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.title1 p {
    font-size: 20px;
    color: #a19f9f;
    line-height: 35px;
}

/*About Me Section*/
.about-section {    
    display: flex;
    gap: 40px;
    padding: 150px 20px;
    background-color: rgba(250, 196, 196, 0.5);
    flex: 1;
    min-width: 400px;
    height: auto;
    padding: 120px;
}
.about-section img {
    width: 530px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
}   
.about-text {
    flex: 1;
}
.about-text h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0px;
    color: #333;
    text-decoration-line: underline;
    text-decoration-color: #c475ac;
    text-underline-offset: 4px;
}
.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

/* My interests Section */
.interests-section {
    padding: 20px;
    background-color: rgba(250, 196, 196, 0.5);
}
.interests-section h2 {
    font-size: 30px;
    padding: 20px;
    color: #333;
    text-decoration-line: underline;
    text-decoration-color: #c475ac;
    text-underline-offset: 4px;
}
.interests-group {
    margin-bottom: 100px;
}
.interests-group h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #c475ac;
}   
.interests-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 16px;
}
.interests-images img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}   
.interests-group p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* My education Section */
.education-section {
    padding: 20px;
    background-color: rgba(250, 196, 196, 0.5);
}
.education-section h2 {
    font-size: 30px;
    padding: 20px;
    color: #333;
    text-decoration-line: underline;
    text-decoration-color: #c475ac;
    text-underline-offset: 4px;
}   
.education-layout {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.education-block {
    flex: 1;
    padding: 0px 20px;
}
.education-block h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.education-block p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/*Contact Section*/
.contact-section {
    padding: 20px;
    background-color: rgba(250, 196, 196, 0.5);
}
.contact-section h2 {
    font-size: 30px;
    padding: 20px;
    padding-bottom: 0px;
    color: #333;
    text-decoration-line: underline;
    text-decoration-color: #c475ac;
    text-underline-offset: 4px;
}
.contact-section p {
    font-size: 15px;
    padding: 20px;
    padding-top: 0px;
    color: #848383;
}
.contact-form {
    max-width: 500px;
}
.contact-form label {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    color: #333;
    padding-left: 20px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button {
    background-color: #fabad8;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #e69ac0;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px;
    background-color: #fabad8;
    color: #333;
}   
